@import "src/scss/colors.scss";

.reviews {
  margin: 30px 0;
  padding: 60px 30px;

  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &-slider {
    overflow: hidden;
  }

  &-item {
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px 15px;
    min-height: 467px;
    box-sizing: border-box;

    &__title {
      font-size: 32px;
      line-height: 120%;
      margin-bottom: 10px;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    &__imgae {
      display: flex;
      justify-content: center;
      width: 125px;
      height: 125px;
      margin-bottom: 20px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 120%;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
  }
}